.tabs-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
}

@media (min-width: 768px) {
    .tabs-nav {
        gap: 12px;
    }
}

@media (min-width: 1440px) {
    .tabs-nav {
        gap: 16px;
    }
}

@media (min-width: 1920px) {
    .tabs-nav {
        gap: 20px;
    }
}

.tab {
    font-family: var(--font-nevermind-compact);
    font-size: var(--font-text1-size);
    font-weight: var(--regular-font-weight);
    line-height: var(--font-text1-line-height);
    letter-spacing: var(--font-text1-letter-spacing);
    color: var(--dark-blue);
    background-color: var(--beige);
    border: none;
    border-radius: 26px;
    padding: 8px 12px;
}

@media (min-width: 1440px) {
    .tab {
        padding: 10px 16px;
    }
}

@media (min-width: 1920px) {
    .tab {
        padding: 12px 20px;
    }
}

.tab:hover {
    background-color: var(--dark-blue-10);
}

.tab:active,
.tab_active {
    color: var(--white);
    background-color: var(--dark-blue);
}

.tab_active:hover,
.tab:active:hover {
    background-color: var(--dark-blue);
}
