:root {
    --beige: #F5EEEB;
    --orange: #D86D55;
    --error: #FF7E7E;
    --dark-blue: #17425A;
    --dark-blue-75: #17425ABF;
    --dark-blue-50: #17425A80;
    --dark-blue-10: #17425A1A;
    --white: #FFFFFF;
    --white-60: #FFFFFF99;
    --white-30: #FFFFFF4D;
}
