:root {
    --triangle-tiles-animation-duration: 6000ms;
    --dynamic-lines-animation-duration: 10000ms;
    --animated-block-size: 332px;
}

.animated-blocks {
    display: grid;
    grid-template-areas: '. lines' 'triangle rect';
    grid-template-columns: var(--animated-block-size) var(--animated-block-size);
    grid-template-rows: var(--animated-block-size) var(--animated-block-size);
}

.dynamic-lines {
    outline: 1px solid var(--white);
    outline-offset: -1px;
    grid-area: lines;
}

.dynamic-lines__group path {
    transform: translate(-60%, -60%);
    animation: linesMovement var(--dynamic-lines-animation-duration) ease-in-out infinite;
}

.dynamic-lines__group path:nth-child(1) {
    animation-delay: 0.8s;
}
.dynamic-lines__group path:nth-child(2) {
    animation-delay: 0s;
}
.dynamic-lines__group path:nth-child(3) {
    animation-delay: 1.6s;
}
.dynamic-lines__group path:nth-child(4) {
    animation-delay: 0.4s;
}
.dynamic-lines__group path:nth-child(5) {
    animation-delay: 1.2s;
}
.dynamic-lines__group path:nth-child(6) {
    animation-delay: 0.6s;
}
.dynamic-lines__group path:nth-child(7) {
    animation-delay: 1.4s;
}
.dynamic-lines__group path:nth-child(8) {
    animation-delay: 0.2s;
}
.dynamic-lines__group path:nth-child(9) {
    animation-delay: 1.8s;
}
.dynamic-lines__group path:nth-child(10) {
    animation-delay: 1s;
}

@keyframes linesMovement {
    from,
    to {
        opacity: 1;
        transform: translate(-60%, -60%);
    }
    50% {
        opacity: 1;
        transform: translate(220%, 220%);
    }
    51% {
        opacity: 0;
        transform: translate(220%, 220%);
    }
    52% {
        opacity: 0;
        transform: translate(-220%, -220%);
    }
    53% {
        opacity: 1;
        transform: translate(-220%, -220%);
    }
}


.triangle-tiles {
    --triangle-tiles-block-size: 188px;

    grid-area: triangle;
    margin: -1px 0 0 0;
    width: var(--triangle-tiles-block-size);
    height: var(--triangle-tiles-block-size);
}

.triangle-tiles svg {
    width: var(--animated-block-size);
    height: var(--animated-block-size);
}

@media (min-width: 768px) {
    .triangle-tiles {
        --triangle-tiles-block-size: 180px;
    }
}

@media (min-width: 1440px) {
    .triangle-tiles {
        --triangle-tiles-block-size: 248px;
    }
}

@media (min-width: 1920px) {
    .triangle-tiles {
        --triangle-tiles-block-size: 330px;
    }
}

#e2HbqIlpsMy3_tr {
    animation: e2HbqIlpsMy3_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy3_tr__tr {
    0% {
        transform: translate(235.517498px, 321.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(235.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(235.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(235.517498px, 321.432991px) rotate(0deg)
    }
    100% {
        transform: translate(235.517498px, 321.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy7_tr {
    animation: e2HbqIlpsMy7_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy7_tr__tr {
    0% {
        transform: translate(321.517498px, 239.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(321.517498px, 239.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(321.517498px, 239.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(321.517498px, 239.432991px) rotate(0deg)
    }
    100% {
        transform: translate(321.517498px, 239.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy11_tr {
    animation: e2HbqIlpsMy11_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy11_tr__tr {
    0% {
        transform: translate(151.517498px, 321.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(151.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(151.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(151.517498px, 321.432991px) rotate(0deg)
    }
    100% {
        transform: translate(151.517498px, 321.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy15_tr {
    animation: e2HbqIlpsMy15_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy15_tr__tr {
    0% {
        transform: translate(151.517498px, 238.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(151.517498px, 238.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(151.517498px, 238.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(151.517498px, 238.432991px) rotate(0deg)
    }
    100% {
        transform: translate(151.517498px, 238.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy19_tr {
    animation: e2HbqIlpsMy19_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy19_tr__tr {
    0% {
        transform: translate(71.517498px, 318.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(71.517498px, 318.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(71.517498px, 318.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(71.517498px, 318.432991px) rotate(0deg)
    }
    100% {
        transform: translate(71.517498px, 318.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy23_tr {
    animation: e2HbqIlpsMy23_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy23_tr__tr {
    0% {
        transform: translate(236.801003px, 240.371002px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(236.801003px, 240.371002px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(236.801003px, 240.371002px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(236.801003px, 240.371002px) rotate(0deg)
    }
    100% {
        transform: translate(236.801003px, 240.371002px) rotate(0deg)
    }
}

#e2HbqIlpsMy27_tr {
    animation: e2HbqIlpsMy27_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy27_tr__tr {
    0% {
        transform: translate(235.832504px, 154.119003px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(235.832504px, 154.119003px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(235.832504px, 154.119003px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(235.832504px, 154.119003px) rotate(0deg)
    }
    100% {
        transform: translate(235.832504px, 154.119003px) rotate(0deg)
    }
}

#e2HbqIlpsMy31_tr {
    animation: e2HbqIlpsMy31_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy31_tr__tr {
    0% {
        transform: translate(110.112797px, 279.352509px) rotate(0deg)
    }
    33.333333% {
        transform: translate(110.112797px, 279.352509px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(110.112797px, 279.352509px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(110.112797px, 279.352509px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(110.112797px, 279.352509px) rotate(0deg)
    }
    100% {
        transform: translate(110.112797px, 279.352509px) rotate(0deg)
    }
}

#e2HbqIlpsMy35_tr {
    animation: e2HbqIlpsMy35_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy35_tr__tr {
    0% {
        transform: translate(195.126503px, 280.62001px) rotate(0deg)
    }
    33.333333% {
        transform: translate(195.126503px, 280.62001px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(195.126503px, 280.62001px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(195.126503px, 280.62001px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(195.126503px, 280.62001px) rotate(0deg)
    }
    100% {
        transform: translate(195.126503px, 280.62001px) rotate(0deg)
    }
}

#e2HbqIlpsMy39_tr {
    animation: e2HbqIlpsMy39_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy39_tr__tr {
    0% {
        transform: translate(278.532997px, 281.527504px) rotate(0deg)
    }
    33.333333% {
        transform: translate(278.532997px, 281.527504px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(278.532997px, 281.527504px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(278.532997px, 281.527504px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(278.532997px, 281.527504px) rotate(0deg)
    }
    100% {
        transform: translate(278.532997px, 281.527504px) rotate(0deg)
    }
}

#e2HbqIlpsMy43_tr {
    animation: e2HbqIlpsMy43_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy43_tr__tr {
    0% {
        transform: translate(280.410004px, 198.2145px) rotate(0deg)
    }
    33.333333% {
        transform: translate(280.410004px, 198.2145px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(280.410004px, 198.2145px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(280.410004px, 198.2145px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(280.410004px, 198.2145px) rotate(0deg)
    }
    100% {
        transform: translate(280.410004px, 198.2145px) rotate(0deg)
    }
}

#e2HbqIlpsMy47_tr {
    animation: e2HbqIlpsMy47_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy47_tr__tr {
    0% {
        transform: translate(194.425499px, 197.462997px) rotate(0deg)
    }
    33.333333% {
        transform: translate(194.425499px, 197.462997px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(194.425499px, 197.462997px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(194.425499px, 197.462997px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(194.425499px, 197.462997px) rotate(0deg)
    }
    100% {
        transform: translate(194.425499px, 197.462997px) rotate(0deg)
    }
}

#e2HbqIlpsMy51_tr {
    animation: e2HbqIlpsMy51_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy51_tr__tr {
    0% {
        transform: translate(279.706505px, 113.149899px) rotate(0deg)
    }
    33.333333% {
        transform: translate(279.706505px, 113.149899px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    50% {
        transform: translate(279.706505px, 113.149899px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(279.706505px, 113.149899px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(279.706505px, 113.149899px) rotate(0deg)
    }
    100% {
        transform: translate(279.706505px, 113.149899px) rotate(0deg)
    }
}

#e2HbqIlpsMy55_tr {
    animation: e2HbqIlpsMy55_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy55_tr__tr {
    0% {
        transform: translate(323.517498px, 156.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(323.517498px, 156.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(323.517498px, 156.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(323.517498px, 156.432991px) rotate(0deg)
    }
    100% {
        transform: translate(323.517498px, 156.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy59_tr {
    animation: e2HbqIlpsMy59_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy59_tr__tr {
    0% {
        transform: translate(321.517498px, 70.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(321.517498px, 70.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(321.517498px, 70.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(321.517498px, 70.432991px) rotate(0deg)
    }
    100% {
        transform: translate(321.517498px, 70.432991px) rotate(0deg)
    }
}

#e2HbqIlpsMy63_tr {
    animation: e2HbqIlpsMy63_tr__tr var(--triangle-tiles-animation-duration) linear infinite normal forwards
}

@keyframes e2HbqIlpsMy63_tr__tr {
    0% {
        transform: translate(318.517498px, 321.432991px) rotate(0deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    16.666667% {
        transform: translate(318.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    66.666667% {
        transform: translate(318.517498px, 321.432991px) rotate(90deg);
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
    }
    83.333333% {
        transform: translate(318.517498px, 321.432991px) rotate(0deg)
    }
    100% {
        transform: translate(318.517498px, 321.432991px) rotate(0deg)
    }
}

/* dynamic rect start */
.dynamic-rect-wrapper {
    display: grid;
    place-items: center;
    width: 332px;
    height: 332px;
    grid-area: rect;
    outline: 1px solid var(--white);
    outline-offset: -1px;
}

.dynamic-rect {
    width: 180px;
    height: 180px;
    outline: 1px solid white;
    outline-offset: -2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 146px;
    animation: squareAnimation 6s infinite;
}

.dynamic-rect__square {
    width: 16px;
    height: 16px;
    background: white;
}

@keyframes squareAnimation {
    0%,
    100% {
        width: 180px;
        height: 180px;
        gap: 146px;
        opacity: 1;
        transform: rotate(0deg) scale(1);
        background-color: transparent;
    }
    10% {
        width: 120px;
        height: 120px;
        gap: 86px;
        opacity: 1;
        transform: rotate(0deg) scale(1);
        background-color: transparent;
    }
    20% {
        width: 120px;
        height: 120px;
        gap: 86px;
        opacity: 1;
        transform: rotate(90deg) scale(1);
        background-color: transparent;
    }
    40% {
        width: 120px;
        height: 120px;
        gap: 86px;
        opacity: 1;
        transform: rotate(90deg) scale(1);
        background-color: transparent;
    }
    55% {
        width: 35px;
        height: 35px;
        gap: 0;
        opacity: 1;
        transform: rotate(90deg) scale(0.5);
        background-color: transparent;
    }
    60% {
        width: 35px;
        height: 35px;
        gap: 0;
        opacity: 1;
        transform: rotate(90deg) scale(0);
        background-color: white;
    }
    61% {
        width: 35px;
        height: 35px;
        gap: 0;
        opacity: 1;
        transform: rotate(90deg) scale(0);
        background-color: white;
    }
    62% {
        width: 35px;
        height: 35px;
        gap: 0;
        opacity: 0;
        transform: rotate(90deg) scale(0);
        background-color: white;
    }
    63% {
        width: 35px;
        height: 35px;
        gap: 0;
        opacity: 0;
        transform: rotate(0deg) scale(0);
        background-color: transparent;
    }
    64% {
        width: 334px;
        height: 334px;
        gap: 298px;
        opacity: 0;
        transform: rotate(0deg) scale(1);
        background-color: transparent;
    }
    65% {
        width: 334px;
        height: 334px;
        gap: 298px;
        opacity: 1;
        transform: rotate(0deg) scale(1);
        background-color: transparent;
    }
    80% {
        width: 334px;
        height: 334px;
        gap: 298px;
        opacity: 1;
        transform: rotate(0deg) scale(1);
        background-color: transparent;
    }
}
/* dynamic rect end */
