.background-shape_dark-blue {
    background-color: var(--dark-blue);
}

.background-shape {
    position: absolute;
    inset: 0;
    background-color: var(--beige);
    animation: shapeAnimationOriginal;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 0.8);
    animation-duration: 2750ms;
    animation-fill-mode: forwards;
    z-index: -1;

    &.index {
        animation-name: shapeAnimationIndex-375;

        @media (min-width: 768px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%, 0 100%);
            animation-name: shapeAnimationIndex-768;
        }

        @media (min-width: 1024px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 38% 100%, 38% 100%, 100% 100%, 100% 100%, 0 100%);
            animation-name: shapeAnimationIndex-1024;
        }

        @media (min-width: 1440px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);
            animation-name: shapeAnimationIndex-1440;
        }
    }

    &.about {
        clip-path: polygon(0 100%, 2% 100%, 2% 95%, 22% 95%, 22% 76%, 54% 76%, 54% 42%, 100% 42%, 100% 100%, 0 100%);
        animation-name: shapeAnimationAbout-375;

        @media (min-width: 768px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 92%, 44% 92%, 44% 40%, 70% 40%, 70% 14%, 100% 14%, 100% 100%, 0 100%);
            animation-name: shapeAnimationAbout-768;
        }

        @media (min-width: 1024px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 92%, 32% 92%, 32% 42%, 64% 42%, 64% 14%, 100% 14%, 100% 100%, 0 100%);
            animation-name: shapeAnimationAbout-1024;
        }

        @media (min-width: 1440px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 92%, 32% 92%, 32% 50%, 62% 50%, 62% 14%, 100% 14%, 100% 100%, 0 100%);
            animation-name: shapeAnimationAbout-1440;
        }

        @media (min-width: 1920px) {
            clip-path: polygon(0 100%, 2% 100%, 2% 92%, 26% 92%, 26% 50%, 62% 50%, 62% 14%, 100% 14%, 100% 100%, 0 100%);
            animation-name: shapeAnimationAbout-1920;
        }
    }

    &.engineering {
        clip-path: polygon(
                0 100%,
                2% 100%,
                2% 94%,
                20% 94%,
                20% 75%,
                75% 75%,
                75% 45%,
                100% 45%,
                100% 100%,
                0 100%);
        animation-name: shapeAnimationEngineering;
    }

    &.projects {
        clip-path: polygon(
                0 100%,
                2% 100%,
                2% 90%,
                50% 90%,
                50% 80%,
                80% 80%,
                80% 50%,
                100% 50%,
                100% 100%,
                0 100%);
        animation-name: shapeAnimationProjects;
    }

    &.blog {
    //clip-path: polygon(0 100%, 2% 100%, 2% 94%, 24% 94%, 24% 46%, 58% 46%, 58% 12%, 100% 12%, 100% 100%, 0 100%);
        clip-path: polygon(
                0 100%,
                2% 100%,
                2% 90%,
                40% 90%,
                40% 50%,
                75% 50%,
                75% 15%,
                100% 15%,
                100% 100%,
                0 100%);
        animation-name: shapeAnimationBlog;
    }
}

@keyframes shapeAnimationOriginal {
    from {
        clip-path: polygon(0% 100%, 6% 100%, 6% 100%, 80% 100%, 80% 100%, 90% 100%, 90% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
}

@keyframes shapeAnimationIndex-375 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 73% 100%, 73% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 73% 100%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 76%, 73% 76%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 84%, 22% 84%, 22% 76%, 73% 76%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 38% 100%, 38% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-1440 {
    /*from {*/
    /*   clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);*/
    /*  }*/
    /*to {*/
    /*    clip-path: polygon(0 100%, 2% 100%, 2% 95%, 26% 95%, 26% 86%, 37% 86%, 37% 34%, 100% 34%, 100% 100%, 0 100%);*/
    /*  }*/

    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 34%, 100% 34%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 95%, 26% 95%, 26% 86%, 37% 86%, 37% 34%, 100% 34%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-375 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 54% 100%, 54% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 44% 100%, 44% 100%, 70% 100%, 70% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 64% 100%, 64% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1440 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 62% 100%, 62% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1920 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 62% 100%, 62% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationEngineering {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 20% 100%, 20% 100%, 75% 100%, 75% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationProjects {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 100%, 80% 100%, 80% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationBlog {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 40% 100%, 40% 100%, 75% 100%, 75% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}
