.background-shape_dark-blue {
    background-color: var(--dark-blue);
}

.background-shape {
    position: absolute;
    inset: 0;
    background-color: var(--beige);
    animation: shapeAnimationOriginal;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 0.8);
    animation-duration: 2750ms;
    animation-fill-mode: forwards;
    z-index: -1;
}

/* Index page shape start */
.background-shape.index {
    animation-name: shapeAnimationIndex-375;
}

@media (min-width: 768px) {
    .background-shape.index {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%, 0 100%);
        animation-name: shapeAnimationIndex-768;
    }
}

@media (min-width: 1024px) {
    .background-shape.index {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 38% 100%, 38% 100%, 100% 100%, 100% 100%, 0 100%);
        animation-name: shapeAnimationIndex-1024;
    }
}

@media (min-width: 1440px) {
    .background-shape.index {
        clip-path: polygon(0 100%, 2% 100%, 2% 95%, 26% 95%, 26% 86%, 37% 86%, 37% 36%, 100% 36%, 100% 100%, 0 100%);
        animation-name: shapeAnimationIndex-1440;
    }
}
/* Index page shape end */

/* About page shape start */
.background-shape.about-page {
    clip-path: polygon(0 100%, 2% 100%, 2% 95%, 22% 95%, 22% 76%, 54% 76%, 54% 42%, 100% 42%, 100% 100%, 0 100%);
    animation-name: shapeAnimationAbout-375;
}

@media (min-width: 768px) {
    .background-shape.about-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 92%, 44% 92%, 44% 40%, 70% 40%, 70% 14%, 100% 14%, 100% 100%, 0 100%);
        animation-name: shapeAnimationAbout-768;
    }
}

@media (min-width: 1024px) {
    .background-shape.about-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 92%, 32% 92%, 32% 42%, 64% 42%, 64% 14%, 100% 14%, 100% 100%, 0 100%);
        animation-name: shapeAnimationAbout-1024;
    }
}

@media (min-width: 1440px) {
    .background-shape.about-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 92%, 32% 92%, 32% 50%, 62% 50%, 62% 14%, 100% 14%, 100% 100%, 0 100%);
        animation-name: shapeAnimationAbout-1440;
    }
}

@media (min-width: 1920px) {
    .background-shape.about-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 92%, 26% 92%, 26% 50%, 62% 50%, 62% 14%, 100% 14%, 100% 100%, 0 100%);
        animation-name: shapeAnimationAbout-1920;
    }
}
/* About page shape end */


/* Engineering page shape start */
.background-shape.engineering-page {
    clip-path: polygon(0 100%, 2% 100%, 2% 94%, 20% 94%, 20% 75%, 75% 75%, 75% 45%, 100% 45%, 100% 100%, 0 100%);
    animation-name: shapeAnimationEngineering;
}
/* Engineering page shape end */

/* Projects page shape start */
.background-shape.projects {
    clip-path: polygon(0 100%, 2% 100%, 2% 90%, 50% 90%, 50% 80%, 80% 80%, 80% 50%, 100% 50%, 100% 100%, 0 100%);
    animation-name: shapeAnimationProjects;
}
/* Projects page shape end */

/* Cooperation page shape start */
.background-shape.cooperation-page {
    clip-path: polygon(0 100%, 2% 100%, 2% 94%, 22% 94%, 22% 78%, 69% 78%, 69% 24%, 100% 24%, 100% 100%, 0 100%);
    animation-name: shapeAnimationCooperation;
}
@media (min-width: 768px) {
    .background-shape.cooperation-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 50% 94%, 50% 46%, 88% 46%, 88% 18%, 100% 18%, 100% 100%, 0 100%);
        animation-name: shapeAnimationCooperation-768;
    }
}
@media (min-width: 1024px) {
    .background-shape.cooperation-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 38% 94%, 38% 46%, 80% 46%, 80% 18%, 100% 18%, 100% 100%, 0 100%);
        animation-name: shapeAnimationCooperation-1024;
    }
}
@media (min-width: 1440px) {
    .background-shape.cooperation-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 24% 94%, 24% 74%, 92% 74%, 92% 22%, 100% 22%, 100% 100%, 0 100%);
        animation-name: shapeAnimationCooperation-1440;
    }
}
/* Cooperation page shape end */

/* Blog page shape start */
.background-shape.blog-page {
    clip-path: polygon(0 100%, 2% 100%, 2% 94%, 30% 94%, 30% 70%, 70% 70%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
    animation-name: shapeAnimationBlog;
}
@media (min-width: 768px) {
    .background-shape.blog-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 30% 94%, 30% 70%, 70% 70%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
        animation-name: shapeAnimationBlog-768;
    }
}
@media (min-width: 1440px) {
    .background-shape.blog-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 26% 94%, 26% 70%, 72% 70%, 72% 22%, 100% 22%, 100% 100%, 0 100%);
        animation-name: shapeAnimationBlog-1440;
    }
}
/* Blog page shape end */

/* Contacts page shape start */
.background-shape.contacts-page {
    display: unset;
    margin: 0 0 -1px;
    background-color: var(--dark-blue);
    clip-path: polygon(0 100%, 2% 100%, 2% 94%, 42% 94%, 42% 80%, 75% 80%, 75% 22%, 100% 22%, 100% 100%, 0 100%);
    animation-name: shapeAnimationContacts;
}
@media (min-width: 768px) {
    .background-shape.contacts-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 29% 94%, 29% 71%, 70% 71%, 70% 28%, 100% 28%, 100% 100%, 0 100%);
        animation-name: shapeAnimationContacts-768;
    }
}
@media (min-width: 1024px) {
    .background-shape.contacts-page {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 80% 94%, 80% 54%, 89% 54%, 89% 30%, 100% 30%, 100% 100%, 0 100%);
        animation-name: shapeAnimationContacts-1024;
    }
}
/* Contacts page shape end */

@keyframes shapeAnimationOriginal {
    from {
        clip-path: polygon(0% 100%, 6% 100%, 6% 100%, 80% 100%, 80% 100%, 90% 100%, 90% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
}

@keyframes shapeAnimationIndex-375 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 73% 100%, 73% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 73% 100%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 76%, 73% 76%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 84%, 22% 84%, 22% 76%, 73% 76%, 73% 26%, 100% 26%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 38% 100%, 38% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationIndex-1440 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 37% 100%, 37% 36%, 100% 36%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 95%, 26% 95%, 26% 86%, 37% 86%, 37% 36%, 100% 36%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-375 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 54% 100%, 54% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 44% 100%, 44% 100%, 70% 100%, 70% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 64% 100%, 64% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1440 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 32% 100%, 32% 100%, 62% 100%, 62% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationAbout-1920 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 62% 100%, 62% 100%, 100% 100%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationEngineering {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 20% 100%, 20% 100%, 75% 100%, 75% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 20% 100%, 20% 100%, 75% 100%, 75% 45%, 100% 45%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 20% 100%, 20% 75%, 75% 75%, 75% 45%, 100% 45%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 20% 94%, 20% 75%, 75% 75%, 75% 45%, 100% 45%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationProjects {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 100%, 80% 100%, 80% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 100%, 80% 100%, 80% 50%, 100% 50%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 80%, 80% 80%, 80% 50%, 100% 50%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 90%, 50% 90%, 50% 80%, 80% 80%, 80% 50%, 100% 50%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationCooperation {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 69% 100%, 69% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 100%, 69% 100%, 69% 24%, 100% 24%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 22% 100%, 22% 78%, 69% 78%, 69% 24%, 100% 24%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 22% 94%, 22% 78%, 69% 78%, 69% 24%, 100% 24%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationCooperation-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 100%, 88% 100%, 88% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 100%, 88% 100%, 88% 18%, 100% 18%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 50% 100%, 50% 46%, 88% 46%, 88% 18%, 100% 18%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 50% 94%, 50% 46%, 88% 46%, 88% 18%, 100% 18%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationCooperation-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 38% 100%, 38% 100%, 80% 100%, 80% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 38% 100%, 38% 100%, 80% 100%, 80% 18%, 100% 18%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 38% 100%, 38% 46%, 80% 46%, 80% 18%, 100% 18%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 38% 94%, 38% 46%, 80% 46%, 80% 18%, 100% 18%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationCooperation-1440 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 92% 100%, 92% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 92% 100%, 92% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 74%, 92% 74%, 92% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 24% 94%, 24% 74%, 92% 74%, 92% 22%, 100% 22%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationBlog {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 58% 100%, 58% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 100%, 58% 100%, 58% 12%, 100% 12%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 24% 100%, 24% 46%, 58% 46%, 58% 12%, 100% 12%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 24% 94%, 24% 46%, 58% 46%, 58% 12%, 100% 12%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationBlog-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 30% 100%, 30% 100%, 70% 100%, 70% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 30% 100%, 30% 100%, 70% 100%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 30% 100%, 30% 70%, 70% 70%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 30% 94%, 30% 70%, 70% 70%, 70% 20%, 100% 20%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationBlog-1440 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 72% 100%, 72% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 100%, 72% 100%, 72% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 26% 100%, 26% 70%, 72% 70%, 72% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 26% 94%, 26% 70%, 72% 70%, 72% 22%, 100% 22%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationContacts {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 42% 100%, 42% 100%, 75% 100%, 75% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 42% 100%, 42% 100%, 75% 100%, 75% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 42% 100%, 42% 80%, 75% 80%, 75% 22%, 100% 22%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 42% 94%, 42% 80%, 75% 80%, 75% 22%, 100% 22%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationContacts-768 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 29% 100%, 29% 100%, 70% 100%, 70% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 29% 100%, 29% 100%, 70% 100%, 70% 28%, 100% 28%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 29% 100%, 29% 71%, 70% 71%, 70% 28%, 100% 28%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 29% 94%, 29% 71%, 70% 71%, 70% 28%, 100% 28%, 100% 100%, 0 100%);
    }
}

@keyframes shapeAnimationContacts-1024 {
    from {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 80% 100%, 80% 100%, 89% 100%, 89% 100%, 100% 100%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 80% 100%, 80% 100%, 89% 100%, 89% 30%, 100% 30%, 100% 100%, 0 100%);
    }
    80% {
        clip-path: polygon(0 100%, 2% 100%, 2% 100%, 80% 100%, 80% 54%, 89% 54%, 89% 30%, 100% 30%, 100% 100%, 0 100%);
    }
    to {
        clip-path: polygon(0 100%, 2% 100%, 2% 94%, 80% 94%, 80% 54%, 89% 54%, 89% 30%, 100% 30%, 100% 100%, 0 100%);
    }
}
